.todo-item {
	width: 400px;
	color: #1c2038;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.comment {
	color: purple; 
	border-width: 1px;
	border-style: dotted;
	border-color: #00aedb;
	border-radius: 6px;
	padding: 5px;
	padding-left: 20px;
	font-family: arial;
	margin: 5px;
	margin-left: 0px;

}

.info {
	color: green;
	font-size: 0.8em;
	font-style: italic;

}

#todo {
	color: #487346;
		font-weight: bold;

}